streamlit==1.54.0
pandas==2.3.3
numpy==2.4.2
requests==2.32.5
plotly==6.5.2
python-dotenv==1.2.1
scikit-learn==1.7.2
joblib==1.5.3
sqlalchemy==2.0.46
passlib==1.7.4
ccxt==4.5.36
python-dateutil==2.9.0.post0
pytest==8.3.5
